
.icon-cog-1:before { content: '\e800'; } /* '' */
.icon-chart:before { content: '\e802'; } /* '' */
.icon-chart-1:before { content: '\e803'; } /* '' */
.icon-chart-pie-1:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
